.taskContainer {
  display: flex;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 5px;
}

.taskDescription {
  text-align: start;
  list-style: none;
  overflow-x: scroll;
  border-radius: 4px;
  width: 80%;
  min-height: 40px;
  background-color: white;
  color: #282c34;
  font-size: 1.25rem;
  padding-left: 5px;
}

.btnDanger {
  border-radius: 100%;
}